<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mt-5">
                <h3>Registrar un libro</h3>
                <form method="post" action="ingresar_libro">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo: </label>
                        <input type="text" class="form-control" id="titulo" name="titulo">
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Descripción: </label>
                        <textarea type="text" class="form-control" id="desc" name="desc" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Añadir libro</button>
                    
                </form>
            </div>
            <div class="col-sm-12 col-md-6 mt-5">
                <h3>Libros registrados</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acción</th>
                            <th scope="col">Eliminar</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in libros%}
                        <tr>
                            <th scope="row">{{libro.id}}</th>
                            <td>{{libro.titulo}}</td>
                            <td>{{libro.desc}}</td>
                            <td><a class="badge bg-secondary" href="/ver_libro/{{libro.id}}">Ver</a></td>
                            <td><a class="badge bg-danger" href="/eliminar_libro/{{libro.id}}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <h3 class="mx-auto"> Librería de Acciones </h3>
        <a class="btn btn-outline-secondary" href="/libros">Ingresar libro</a>
        <a class="btn btn-outline-secondary" href="/libros">Libros registrados</a>
        <a class="btn btn-outline-secondary" href="/autores">Ingresar autor</a>
        <a class="btn btn-outline-secondary" href="/autores">Autores registrados</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>